*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #FEE6EE;
    align-items: center;
    justify-content: center;
    color:  #5F021F;
    width: 100vw;
    height: 100vh;
    display: flex;
}

main {
    margin: auto;
    text-align: center;
   
}

main > p{
    font-size: 30px;
    letter-spacing: 1.5px;
}

h1{
    font-size: 3rem;
}

span{
    font-weight: bolder;
    font-size: 35px;

}